
.header-container {
    color: #DD4A48;
    font-size: 20px;
    background-color: #97bfb4;
    padding: 20px 0;
    display: flex;

    justify-content: flex-end;

}
.carousel-principal{
    position: relative;
    margin: auto;
    align-items: center;
    height: 500px;
    width: 500px;
    display: center;
}
.col-lg-4{
    margin: 0;
    padding: 25px;

    
}
.img1{
    width: 100%;
    height: 250px;
}
.img1:hover{
    border: 5px solid rgb(255, 255, 255);

}

.footer{
    width: 100%;
    height: 50px;
    position: relative;
    bottom:0px;
}